// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_FollowButton {
    display: flex;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_FollowButton_follow {
    color: map-get($grays, '600');
}

.o_FollowButton_unfollow {
    color: map-get($grays, '600');

    &.o-following {
        color: o-text-color('success');
    }

    &.o-unfollow {
        color: o-text-color('warning')
    }

    &:focus {
        background-color: map-get($grays, '200');
    }
}
