.o_ChannelMember_avatar {
    object-fit: cover;
}

.o_ChannelMember_avatarContainer {
    width: 32px;
    height: 32px;
}

.o_ChannelMember_name {
    min-width: 0;
}

.o_ChannelMember {
    padding: map-get($spacers, 2) 0;

    .o_ChannelMember_avatarContainer {
        margin-left: $o-mail-discuss-channel-member-avatar-left-margin;
    }

    &:hover {
        background-color: gray('300');
    }
}
