//------------------------------------------------------------------------------
// Mobile Burger Menu
//------------------------------------------------------------------------------

.o_burger_menu {
    z-index: $zindex-tooltip + 10;
    transition: transform .2s ease;

    // Menu Toggle-Animations
    transform: translateX(-100%);

    &.burgerslide-enter, &.burgerslide-leave {
        transform: translateX(0);
    }

    // Scoped pseudo classes
    %-main-entries-size {
        min-height: $o-navbar-height-xs;
        line-height: $o-navbar-height-xs;
    }

    // Scoped variables
    $-base-bg: $o-brand-odoo; // change to get variations on the fly (eg. 'dark mode')
    $-base-color: color-yiq($-base-bg);

    // ====== Top-Bar
    .o_burger_menu_topbar {
        @extend %-main-entries-size;

        .dropdown-toggle, .o_burger_menu_close {
            padding: 0 $o-horizontal-padding;
        }
    }

    // ====== Menu content container (both App's and User's entries)
    .o_burger_menu_content {
        &.o_burger_menu_dark {
            background-color: darken($-base-bg, 5%);
        }

        // Menu entries size and layout
        .dropdown-item, .dropdown-toggle {
            > span {
                min-height: $o-navbar-height-xs;
                padding-left: $o-horizontal-padding;
            }
        }

        // Handle menu text-indentation
        .dropdown-menu {
            text-indent: 1em;
            max-height: none;

            .dropdown-toggle {
                text-indent: 1em;
            }

            .dropdown-menu {
                text-indent: 2em;
            }
        }

        // First menu level entries are always bigger
        .o_user_menu_mobile > .dropdown-item,
        .o_menu_sections > .dropdown-item > span,
        .o_menu_sections > .o_burger_menu_section > .dropdown-toggle > span {
            @extend %-main-entries-size;
        }

        // ====== 'App menu' spefic design rules
        .o_burger_menu_app {

            // Reset inner components
            .dropdown-menu, .dropdown-item, .dropdown-toggle {
                &:after {
                    display: none; // Remove inner dropdown caret
                }
            }

            .dropdown-item span, .dropdown-toggle {
                @include o-hover-text-color(rgba($-base-color, .8), $-base-color);
            }

            .dropdown-menu {
                background-color: rgba(invert($-base-color), .1);
                box-shadow: inset 0 -1px 0 rgba($-base-color, .1);
            }
        }

        // ====== 'User Menu' spefic design rules
        .o_user_menu_mobile .dropdown-divider {
            margin-left: $dropdown-item-padding-x;
            margin-right: $dropdown-item-padding-x;
        }
    }
}

//------------------------------------------------------------------------------
// Design rules not scoped within the main component
//------------------------------------------------------------------------------

@include media-breakpoint-down(sm) {
    .o_debug_dropdown {
        z-index: $zindex-tooltip + 10;
    }
}
