// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_RtcInvitationCard_partnerInfo {
    width: 130px;
}

.o_RtcInvitationCard_partnerInfoImage {
    width: 70%;
    height: 70%;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_RtcInvitationCard_buttonListButton {
    user-select: none;
}

.o_RtcInvitationCard_buttonListAccept:hover {
    background-color: darken(theme-color('success'), 10%);
}

.o_RtcInvitationCard_buttonListRefuse:hover {
    background-color: darken(theme-color('danger'), 10%);
}

.o_RtcInvitationCard_partnerInfoImage {
    border: 3px solid gray;
}
