
//addons/web/static/lib/bootstrap-4/scss/mixins/_hover.scss
@mixin hover {
    &:hover { @content; }
}

//addons/web/static/lib/bootstrap-4/scss/mixins/_hover.scss
@mixin plain-hover-focus {
    &,
    &:hover,
    &:focus {
        @content;
    }
}

//addons/web/static/lib/bootstrap-4/scss/mixins/_hover.scss
@mixin hover-focus {
    &:hover,
    &:focus {
        @content;
    }
}

//addons/web/static/lib/bootstrap-4/scss/_variables.scss
$emphasized-link-hover-darken-percentage: 15% !default;

//addons/web/static/lib/bootstrap-4/scss/mixins/_text-emphasis.scss
@mixin text-emphasis-variant($parent, $color) {
    #{$parent} {
        color: $color !important;
    }
    @if $emphasized-link-hover-darken-percentage != 0 {
        a#{$parent} {
            @include hover-focus {
                color: darken($color, $emphasized-link-hover-darken-percentage) !important;
            }
        }
    }
}

// addons/web/static/lib/bootstrap-4/scss/_variables.scss
$custom-control-indicator-border-color: #adb5bd !default;

$custom-control-indicator-checked-disabled-bg: #e9ecef !default;

$custom-control-gutter:                 .5rem !default;

$table-head-color:            #495057 !default;
