// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_AttachmentLinkPreview_linkImage {
    max-width: 160px;
    max-height: 160px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_AttachmentLinkPreview_asideItemUnlink {
    background: transparent;
}

.o_AttachmentLinkPreview {
    background-color: gray('300');
}

.o_AttachmentLinkPreview_asideItemUnlinkIcon {
    visibility: hidden;
}
.o_AttachmentLinkPreview:hover .o_AttachmentLinkPreview_asideItemUnlinkIcon {
    visibility: visible;
}
