// class name are dynamically added.
// If you don't find it with a grep, don't consider it as useless without extra check.

.s_product_product_centered {
    .card {
        overflow: visible;
        margin-top: 6rem;
        padding-top: 6rem;
    }

    .o_carousel_product_img_link {
        max-width: 75%;
        margin-top: -12rem;
        left: 0;
        right: 0;
    }
}

@include media-breakpoint-down(md) {
    .s_product_product_banner .o_wrap_product_img,
    .s_product_product_horizontal_card img {
        height: 12rem;
    }
}

.o_dynamic_product_hovered {
    img {
        transition: transform 250ms ease;
    }
    &:hover img {
        transform: scale(1.15);
    }
}
.o_carousel_multiple_rows {
    .row {
        padding: 1rem;
    }
}

// Cover image
img.o_img_product_cover {
    object-fit: cover;
}
// Force the image to have a square ratio
img.o_img_product_square {
    aspect-ratio: 1 / 1;
}

.o_card_group {
    & > .row {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
    & > .row > div {
        padding: 0 !important;
    }
    & > .row > div:first-child > .o_carousel_product_card {
        border-left: $card-border-width solid $card-border-color !important;
    }
    & > .row:first-child .o_carousel_product_card {
        border-top: $card-border-width solid $card-border-color !important;
    }
    & > .row:first-child > div:first-child .o_carousel_product_card {
        @include border-top-left-radius($border-radius-lg !important);
    }
    & > .row:first-child > div:last-child .o_carousel_product_card {
        @include border-top-right-radius($border-radius-lg !important);
    }
    & > .row:last-child > div:first-child .o_carousel_product_card {
        @include border-bottom-left-radius($border-radius-lg !important);
    }
    & > .row:last-child > div:last-child .o_carousel_product_card {
        @include border-bottom-right-radius($border-radius-lg !important);
    }
}
// Bootstrap's stretched links mess with the editor.
// Since we just want to redirect on link click
// we can safely ignore pointer events
.s_dynamic_snippet_products .stretched-link::after {
    pointer-events: inherit;
}
