$o-kanban-large-record-width: 400px;

.o_kanban_view.o_slide_kanban {
    .o_kanban_group:not(.o_column_folded) {
        width: $o-kanban-large-record-width + 2*$o-kanban-group-padding;
    }
    .o_kanban_record {
        width: $o-kanban-large-record-width;
    }
    .o_kanban_slides_card_manage_pane {
        > div {
            @include o-kanban-dashboard-dropdown-link;
        }
    }
}

table.o_section_list_view tr.o_data_row.o_is_section {
    font-weight: bold;
    background-color: #DDD;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

// Ribbon specific style for channel and attendee kanban
.o_slide_attendee_kanban, .o_slide_channel_kanban {
    .ribbon.ribbon-top-right {
        &::before, &::after {
            display: none;
        }
        margin-top: -9px;
        span {
            left: 10px;
            right: 30px;
            height: 25px;
            top: 18px;
            font-size: small;
        }
    }
}
